body {
  text-align: center;
}

.input-group {
  margin: 25px;
}

.recharts-wrapper {
  margin: 0 auto;
}

.movieComponent {
  max-height: 30%;
}

.movieButton {
  margin: 5px 5%;
  max-height: 30%;
  width: 10%;
}

button img {
  max-height: 15%;
  width: 100%;
}
